.container-fluid {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
.header {
  height: 20vh;
  width: 100%;
  .search-form {
    width: 100%;
    text-align: center;
    padding-top: 3vh;
    #order {
      padding-top: 1vh;
    }
  }
}

.content {
  margin-top: 3vh;
  padding: 0 4vw;
  p {
    margin-bottom: 0;
  }
  .movie_title {
    overflow:auto;
    height: 6vh;
  }
}

.fa-youtube {
  font-size: 3.5em;
  color: red;
  padding-right: 1em;
  padding-left: 0.2em;
}